<div class="main-contents">
  <div class="user-show-index">
  <% f = @following %>
    <div>
      <% if f.image? %>
        <div><%= image_tag f.image.url, class: "user-show-user-icon" %></div>
      <% else %>
        <div><%= image_tag "/assets/default.jpg", class: "user-show-user-icon" %></div>
      <% end %>
    </div>
    <div class="user-show-name"><%= f.name %></div>
    <div class="user-show-profile"><%= simple_format(f.profile) %></div>
  </div>
</div>

<div class="main-contents">
  <h3 class="title-index">フォロワーの投稿</h3>
    <% @following_posts.each do |post| %>
      <div class="post-index">
          <div class="overall-container">
              <%= link_to post_path(post.id) do %>
                <div class="title"><%= post.title %></div>
              <% end %>

              <div class="tag-container">
                <% post.tag_list.each do |tag| %>
                  <span class="post-tag"><%= link_to tag, root_path(tag_name: tag) %></span>
                <% end %>
              </div>

              <div class="other-container">
                <% if user_signed_in? %>
                  <div class="already-read"><%= render 'shared/alreadyread', post: post %></div>
                <% end %>

                <div class="comments-count"><i class="far fa-comment"></i> <%=  post.comments.count %></div>
                <div class="likes-count"><i class="far fa-heart"></i> <%=  post.likes.count %></div>

                <div class="user-info">
                    <% if post.user.image? %>
                      <div><%= image_tag post.user.image.url, class: "user-index-icon" %></div>
                    <% else %>
                      <div><%= image_tag "/assets/default.jpg", class: "user-index-icon" %></div>
                    <% end %>
                    <div class="user-name"> <%= post.user.name %></div>
                </div>
              </div>

          </div>

      </div>
    <% end %>
<div class="paginate"><%= paginate @following_posts if @following_posts.present?-%></div>
</div> 
