<span>ログイン中のユーザー: <%= current_user.name %></span>

<%= form_with(model: @post, local: true) do |f| %>
<%= render 'shared/post_error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "タイトル" %></br>
    <%= f.text_area :content, placeholder: "質問を自由に書き込んでください" %></br>
  <%= f.submit "投稿する" %>
<% end %>