
<div class="post-show-maincontents">
      <div class="top-container">
        <div class="post-show-tag">
          <% @post.tag_list.each do |tag| %>
            <span><%= link_to tag, root_path(tag_name: tag) %></span>
          <% end %>
        </div>

        <div class="post-show-title"><%= @post.title %></div>

        <div class="post-show-container">
          <div>コメント<%= @post.comments.count %></div>
          <div class="post-show-userinfo">
            <% if @post.user.image? %>
              <div><%= image_tag @post.image.url, class: "user-index-icon" %></div>
            <% else %>
              <div><%= image_tag "/assets/default.jpg", class: "user-index-icon" %></div>
            <% end %>
            <div class="post-show-username"><%= @post.user.name %></div>
            <div class="post-show-follow"><%= render 'relationships/follow_button', user: @post.user %></div>
          </div>
        </div>
      </div>

  <div class="post-show-body">
    <div class="post-show-content"><%= simple_format(@post.content) %></div>

      <% if @post.image? %>
        <% if @post.image.file.content_type.include?('image/') %>
          <div><%= image_tag @post.image.url, class: "post-image" %></div>
        <% elsif %>
          <div ><%= video_tag @post.image.url, class: "post-video", controls: true, autobuffer: true %></div>
        <% else %>
          <div><%= image_tag "/assets/default.jpg", class: "post-image" %></div>
        <% end %>
      <% end %>

      <% if @post.image.blank? %>
        <div><%= image_tag "/assets/default.jpg", class: "post-image" %></div>
      <% end %>

      <div id="likes_buttons_<%= @post.id %>">
        <%= render partial: 'shared/likes', locals: { post: @post } %>
      </div>
  
    <% if @post.user_id == current_user.id %>
      <div class="post-delete"><i class="fas fa-trash-alt"></i><%= link_to '削除', post_path(post_id: @post.id), method: :delete, class: "post-delete" %>
    <% end %>
  </div>

  <div class="post-show-comments">コメント<%= @post.comments.count %>件</div>
    <% @post.comments.each do |c| %>
      <div class="comment-body">

        <div><%= simple_format(c.content) %></div>
          <div class="comment-image">
            <% if c.image? %>
              <% if c.image.file.content_type.include?('image/') %>
                <%= image_tag c.image.url, class: "post-image" %>
              <% else %>
                <%= video_tag c.image.url, class: "post-video", controls: true, autobuffer: true %>
              <% end %>
            <% end %>

            <% if c.image.blank? %>
              <div><%= image_tag "/assets/default.jpg", class: "post-image" %></div>
            <% end %>
            
          </div>

        <div class="comment-user">
          <% if c.user.image? %>
            <div><%= image_tag c.user.image.url, class: "user-index-icon" %></div>
          <% else %>
            <div><%= image_tag "/assets/default.jpg", class: "user-index-icon" %></div>
          <% end %>
          <div><%= c.user.name %></div>
        </div>

        <div class="comment-like-and-delete">
          <div id="commentlikes_buttons_<%= c.id %>">
            <%= render partial: 'shared/commentlikes', locals: { c: c, post: @post }%>
          </div>

          <% if c.user_id == current_user.id %>
            <div class="post-delete"><i class="fas fa-trash-alt"></i><%= link_to '削除', post_comment_path(post_id: @post.id, comment_id: c.id), method: :delete, class: "post-delete" %></div>
          <% end %>
        </div>
      </div>
    <% end %>

  <div class="comment-container">
    <div>コメントする</div>
      <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <div><%= f.text_area :content, class: "new-comment" %></div>
        <div class="post-new-image-comment">
          <label>
            <span class="btn btn-primary">画像<%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png, video/*', style: "display:none"%></span>
          </label>
          <input type="text" class="form-control" readonly="">

          <script>
            $(document).on('change', ':file', function(){
              var input = $(this),
              numFiles = input.get(0).files ? input.get(0).files.length : 1,
              label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
              input.parent().parent().next(':text').val(label);
            });
          </script>
        </div>
        
        <div><%= f.submit 'コメントする', class: "comment-submit" %></div>
      <% end %>
    <div><%= link_to "ホームへ戻る", root_path, class: "post-show-home" %></div>
  </div>
</div>
</div>
