<div class="d-flex flex-column flex-md-row align-items-center h3 p-2 px-md-4 mb-4 bg-dark text-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal h3">Gamequest</h5>
  <nav class="my-2 my-md-0 mr-md-3">
     <a class="p-2 text-white"><%= link_to "ホーム", root_path %></a>
     <a class="p-2 text-white"><%= link_to "検索", "#" %></a>
     <% if user_signed_in? %>
     <a class="p-2 text-white"><%= link_to "投稿", new_post_path %></a>
     <a class="p-2 text-white"><%= link_to "マイページ", "#" %></a>
     <a class="p-2 text-white"><%= link_to "ログアウト", logout_path, method: :delete %></a>
     <% else %>
     <a class="p-2 text-white"><%= link_to "新規登録", users_create_path %></a>
     <a class="p-2 text-white"><%= link_to "ログイン", login_path %></a>
     <% end %>
  </nav>
</div>