<div class="header-container">

    <div class="first-child"><%= link_to "Gamequest", root_path %></div>
  

    
     <div class="header-content"><%= link_to "ホーム", root_path %></div>
     <div class="header-content"><%= link_to "検索", search_posts_path %></div>
     <% if user_signed_in? %>
      <div class="header-content"><%= link_to "投稿", new_post_path %></div>
      <div class="header-content"><%= link_to "マイページ", users_show_path %></div>
      <div class="header-content"><%= link_to "ログアウト", logout_path, method: :delete %></div>
     <% else %>
      <div class="header-content"><%= link_to "新規登録", users_create_path %></div>
      <div class="header-content"><%= link_to "ログイン", login_path %></div>
      <div class="header-content"><%= link_to "twitterログイン", user_twitter_omniauth_authorize_path %></div>
     <% end %>
</div>
